nav {
    height: 40px;
    width: 100%;
    background: #455868;
    font-size: 11pt;
    font-family: Arial, sans-serif;
    font-weight: bold;
    position: relative;
    border-bottom: 2px solid #283744;
}
nav ul {
    padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
}
.demo-image {
	position:relative;
}
img.demo-image,.demo-image img {
	max-width:100%;
	height:auto;
}
.demo-image .demo-title {
	position:absolute;
	bottom:8px;
	left:16px;
	color:#fff;
	font-size:20px;
}
.normal {
    	float: left;
    	margin: 5px;
    	padding: 15px;
    	width: 300px;
    	height: 500px;
    	border: 1px solid black;
}
